h1{
    font-family: "Arial";
}

p{
    font-family: monospace;
}

body{
    font-size: 10px;
}

#two{
    font-size: 1.0em;
}

/* em is used as a ratio of the body element */
/* therefore, two id is 2x the body size */

p{
    font-style: italic;
    font-weight: bold;
}

h1{
    text-align: center;
}